 <template name="about">
  <div class="modal hide fade" id="aboutDialog">
    <div class="modal-header">
      <a href="#" class="close" data-dismiss="modal">&times;</a>
      <h1>about</h1>
    </div>
    <div class="modal-body">
      <p>...anonistream is a real time multi-user anonymous social stream of consciousness...</p>
      <p>...the last 100 posts are streamed in real-time and shrink and face into oblivion...</p>
      <p>...whatever you post is streamed to our <a href="https://twitter.com/#!/anonistreamin" target="_blank">twitter account</a>...</p>
      <p>...and to our <a href="http://apps.facebook.com/anonistreamin/" target="_blank">facebook app</a>...and our <a href="http://www.facebook.com/pages/anonistreamin-Community/295166627236916/" target="_blank">facebook page</a>....when it all works...</p>
      <p>...everything you post is 100% anonymous...</p>
      <p>...we don't track your ip or any of that shit...</p>
      <p>...so feel free to open up...</p>
      <p>...answer a question or post free form...</p>
      <p>...bitch, gripe, moan and complain...</p>
      <p>...praise, worship, applaud and shout out...</p>
      <p>...also use the rewteet, favorite and fb share links if you find something interesting...</p>
      <p>...no you cannot post pictures and videos...we want you to think and write</p>
      <p>...oh yeah and read...novel concept eh?...so stop asking...</p>
      <p>...yes, we dont like capitals or punctuation...and our spelling sucks...</p>
      <p>...now go have fun baring your soul in public...anonymously...for a change...</p>
    </div>
  </div>
</template>