<template name="entry">
  <div class="hero-unit">
    <h1 id="title">anonistream.in</h1>
    <h3>real-time anonymous social stream of consciousness</h3>
      {{> social_buttons}}
    <div class="well form-inline">
      <div class="controls">
        <div class="input-append">
          <input class="input" id="messageBox" type="text" value="...share your inner most thoughts..." maxlength="140"><button class="btn" id="messageBtn" type="button"><i class="icon-plus"></i></button>
        </div>
      </div>
    </div>
  </div>
</template>