<template name="social_buttons">
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://anonistream.in" data-text="Check out anonistream.in ...real-time anonymous social stream of consciousness..." data-via="anonistreamin" data-align="left">Tweet</a>
  <a href="https://twitter.com/anonistreamin" class="twitter-follow-button" data-show-count="true" data-show-screen-name="false" data-align="left">Follow @anonistreamin</a>
  <div class="fb-like" data-href="https://anonistream.in" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
</template>
