 <template name="subscribe">
  <div class="modal hide fade" id="subscribeDialog">
    <div class="modal-header">
      <a href="#" class="close" data-dismiss="modal">&times;</a>
      <h1>newsletter subscription</h1>
    </div>
    <div class="modal-body">
      <p>wanna receive updates about us...sure you do!</p>
      <div id="alert-subscribe" class="alert hide fade in">
        <a class="close" href="#">×</a>
        <strong><span id="alert-title-subscribe"></span></strong> <span id="alert-message-subscribe"></span>
      </div>
      <form class"form-horizontal" id="subscribe-form">
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="name">your name</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="name" name="name" maxlength="100">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="email">your email</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="email" name="email" maxlength="100">
            </div>
          </div>
          <div id="buttons-subscribe" class="form-actions">
            <button id="btnSubscribe" name="btnSubscribe" type="button" class="btn btn-primary">submit</button>
            <button type="reset" class="btn">reset</button>
          </div>
          <div id="progress-subscribe" class="progress progress-striped active hide">
            <div id="bar-subscribe" class="bar" style="width: 33%;"></div>
          </div> 
        </fieldset>
      </form>
    </div>
  </div>
</template>